.LandingContainer {
    background-color:#f8f9fa;
    padding: 10px;
  }
  
  .NavLinks {
    font-weight: bold;
    color: black;
    padding: 0 5px;
    text-decoration: none;
  }
  
  .ThemeToggle {
    cursor: pointer;
  }
  
  .ProfileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  body.dark-mode {
    background-color: #121212;
    color: white;
  }

  .LandingContainer {
    background-color: white; /* Default light mode */
    transition: background-color 0.3s ease;
  }
  
  .LandingContainer.dark {
    background-color: white !important; /* Force white background in dark mode */
  }
  