.LandingContainer {
    background-color:#f8f9fa;
    padding: 10px;
  }
  
  .NavLinks {
    font-weight: bold;
    color: black;
    padding: 0 5px;
    text-decoration: none;
  }
  
  .ThemeToggle {
    cursor: pointer;
  }
  
  .ProfileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 15px;
  }
  body.dark-mode {
    background-color: #121212;
    color: white;
  }
  