.container {
    max-width: 800px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input,
  .textarea {
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 10px;
  }
  
  .Draftbutton {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    background-color: #940606;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .Publishbutton {
    padding: 5px;
    border-radius: 4px;
    margin: 0 5px;
    background-color: #035a2c;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  .EndButton{
    display: flex;
    align-items: center;
    justify-content: end;
  }  