.storyImageCol {
    margin-bottom: 20px;
  }
  
  .blogCard {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 0;
  }
  
  .blogTitle {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .blogDescription {
    color: #555;
  }
  
  .blogAuthor {
    display: flex;
    align-items: center;
  }
  
  .authorAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .authorName {
    font-weight: bold;
    color: #333;
  }
  
  .sidebarCol {
    margin-top: 10px;
    margin-left: 50px;
  }
  

  .category {
    color: #007bff;
    font-weight: bold;
  }
  
  .timeRead {
    color: #777;
  }

  .mainTab{
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .badgeMain{
    padding: 5px 15px;
    border-radius: 2px;
    background-color: #0A7A99!important;
  }
  .sidebarTab{
    margin: 25px 0;
    border-bottom: 1px solid #c4c3c3;
  }
 .tabIn{
     padding: 5px 0;
  }
  