.storyImageCol {
    margin-bottom: 20px;
  }
  .sidebarCol {
    margin-top: 10px;
    margin-left: 50px;
  }
  .category {
    color: #15688c;
    font-weight: bold;
  }
  .timeRead {
    color: #777;
  }
  .mainTab{
    padding: 8px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mainTab:hover{
    background-color: #085979;
    color: #fff;
  }
  .badgeMain{
    padding: 5px 15px;
    border-radius: 2px;
    background-color: #0A7A99!important;
  }
  .sidebarTab{
    margin: 25px 0;
    border-bottom: 1px solid #c4c3c3;
    text-decoration: none;
  }
 .tabIn{
     padding: 5px 0;
  }
  .tabIn h5{
    color: #272727!important;
    font-weight: 600;
  }
  /* ==============today========= */
  .cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    max-width: 850px;
    margin: 10px 0;
    padding: 5px;
  }
  .cardBody {
    flex: 1;
    padding: 16px;
  }
  .header {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 8px;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .description {
    font-size: 16px;
    color: #444;
    margin-bottom: 12px;
  }
  .footer {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    color: #666;
  }
  .icon {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .date {
    font-weight: bold;
  }
  .image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-left: 1px solid #ddd;
  }
 .categHead{
  background-color: #e6e7e7; 
  padding:  10px;
  margin: 10px 0;
  color: #000000;
  text-align: center;
 } 
.catHead{
 border: 1px solid #dfdfdf;
  padding: 0 10px;
  margin: 8px 0;
} 
.catHead:hover{
  background-color: #0A7A99;
  color: #fff;
} 