
/* ========================= */
.loginBtn{
  border: 0;
  padding: 4px 20px;
  border-radius: 3px;
}
.SignBtn{
  border: 0;
  padding: 4px 20px;
  border-radius: 3px;
  margin: 0 10px;
  background-color: transparent;
  text-align: end;
  color: rgb(2, 95, 201);
  
}

