
.blogCard {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
  }
  .bodyContent{
    text-align: center;
  }
  .mainCardIn{
     background-color: #fff;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     padding: 15px;
     margin: 15px 0;
  }

  .blogTitle{
    font-size: 50px;
    padding: 10px 0;
  }
  .titleCard{
    color: #504e4e;
  }
  .headMain{
    margin: 10px 0;
    text-align: center;
    border-bottom: 1px solid #b8b7b7;
    font-size: 30px;
    color: #353535;
  }
  .cardBody{
    margin-top: 70px;
  }

 /* Style for Tab Buttons */
.navTabs {
  border-bottom: none !important; 
  display: flex !important;
  justify-content: center !important; 
  gap: 10px !important; }

.navTabs .nav-item {
  flex: 1 !important; 
  text-align: center !important;
}

.navTabs {
  background-color: #0a7c91!important; 
  color: white !important; 
  border: none !important; 
  border-radius: 5px !important; 
  padding: 10px 20px !important; 
  font-weight: bold !important;
}

.navTabs .navLink.active {
  background-color: #064f5a !important;
  color: white;
}


.tabContent {
  padding-top: 20px !important;
}

.categHead{
  background-color: #dfdfdf; 
  padding:  10px;
 } 

 .sidebarTab{
  margin: 25px 0;
  border-bottom: 1px solid #c4c3c3;
  text-decoration: none;
}

.tabIn{
  padding: 5px 0;
}
.tabIn h5{
  color: #272727!important;
  font-weight: 600;
}

.relatedPostimg{
   width: 10px;
    height: 10px;
    object-fit: cover;
    border-left: 1px solid #da3838;
}