

/* Default Light Mode */
body.light {
  background-color: white;
  color: black !important;
}

/* Dark Mode */
body.dark {
  background-color: #121212 !important;
  color: white !important;
}


.navbar {
  transition: background-color 0.3s ease-in-out;
}

body.dark .navbar {
  background-color: #222 !important;
  color: #fff!important;
}

body.light .navbar {
  background-color: white !important;
  color: #000!important;
}



.text-white {
  color: white !important;
}

/* .text-black {
  color: black !important;
} */

.profile-toggle::after {
  display: none !important;
}

